<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Öğrenci Yönetim Sistemi - Ana Sayfa</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
  <style>
    /* Özel CSS stilleri buraya eklenebilir */
    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }
    .jumbotron {
      background-color: #474646;
      color: #fff;
    }
    .jumbotron img {
      max-width: 100%;
    }
    .info-text {
      font-size: 18px;
    }
    .feature-item {
      margin-bottom: 20px;
    }
    .feature-item img {
      max-width: 50px;
      margin-right: 15px;
    }
    .footer{
      text-align: center;
    }

  </style>
</head>
<body>
<div th:replace="navbar.html"></div>

<div class="container mt-4">
  <div class="jumbotron">
    <div class="row align-items-center">
      <div class="col-md-6">
        <!-- Resim alanı -->
        <img src="/5.svg" alt="Resim" class="img-fluid">
      </div>
      <div class="col-md-6">
        <!-- Bilgilendirme alanı -->
        <h2 class="display-4">Öğrenci Yönetim Sistemi</h2>
        <p class="lead">Öğrencilerinizi kolayca takip edin ve yönetin.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 feature-item">
      <div class="row align-items-center">
        <div class="col-auto">
          <img src="/2.png" alt="Öğrenci İkonu">
        </div>
        <div class="col">
          <h3>Öğrenci Yönetimi</h3>
          <p class="info-text">Öğrencilerinizin bilgilerini görüntüleyin, düzenleyin ve yeni öğrenciler ekleyin.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 feature-item">
      <div class="row align-items-center">
        <div class="col-auto">
          <img src="/3.png" alt="Öğretmen İkonu">
        </div>
        <div class="col">
          <h3>Öğretmen ve Haberler</h3>
          <p class="info-text">Sistemdeki öğretmenlerin ve okulun haberlerini takip edin.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer" th:replace="footer.html"></div>
</body>
</html>
