<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Öğrenci Yönetim Sistemi - Ana Sayfa</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar.html"></div>

<div class=ui-helper-hidden-accessible>
    <p class="news-ticker">
        <p>Öğrenci Yönetim Sistemine hoş geldiniz. Bu sistem, öğrencilerinizi kolayca takip etmenizi sağlar.</p>
        <p>Burada öğrencilerinizin bilgilerini görüntüleyebilir, düzenleyebilir ve yeni öğrenciler ekleyebilirsiniz.</p>
        <p>Ayrıca sistemdeki öğretmenlerin ve okulun haberlerini takip edebilirsiniz.</p>
</div>

</body>
</html>
